
.footer {
  background-color: #1f2f5b;
  color: #fff;
  padding-top: 50px;
  
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 60px 40px;
  height: 240px;
}
.footer-logo {
  width: 70px;
  margin-bottom: 10px;
  
}
.brand-name {
  margin: 5px 0;
  font-size: 22px;
  letter-spacing: 1px;
}

.tagline {
  font-size: 13px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.social-icons {
  display: flex;
  gap: 20px;
  font-size: 18px;
  color: #fff;
  
}
.social-icons a:hover{
color: black;

}
.social-icons a{
color: white;
border-radius: 100%;

}

.footer-column h3 {
  margin-bottom: 15px;
}
.footer-column p {
  margin: 6px 0;
  cursor: pointer;
  opacity: 0.9;
}

.contact-title,
.service-title {
  margin-top: 20px;
}

.app-buttons img {
  width: 140px;
  margin-top: 10px;
  display: block;
}

.footer-bottom {
  background: #00bcd4;
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  align-items: center;
  font-size: 14px;
}

.footer-links span {
  margin-left: 20px;
  cursor: pointer;
}

.footer-links span:hover {
  text-decoration: underline;
  
}
.footer-column a {
  color: white;
  text-decoration: none;
}

.quick-Links p:hover,
.contact-info a:hover{
  color: cyan;

}
.About-us a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.About-us a:hover {
  color: cyan;        
  padding-left: 5px;     
}

.service-title:hover,
.About-us h3:hover {
  
  cursor: pointer;
}